<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Introduction</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-lg rounded-lg p-8 max-w-md w-full">
        <h1 class="text-2xl font-bold mb-4">사이트 소개</h1>
        <p class="mb-2">심한 경우가 아닐 시 제제가 없습니다.</p>
        <p class="mb-2">비공식 영남중학교 커뮤니티</p>
        <!-- <p class="mb-2">후원계좌 : 토스뱅크 1908-5094-5428</p>
        <p class="mb-2">
            <a href="https://github.com/sungjujjang/yeungnamsite" class="text-blue-500 hover:underline">
                깃허브 링크
            </a>
        </p>
        <p class="mb-4">
            <a href="mailto:hanbe7220@gmail.com" class="text-blue-500 hover:underline">
                contact email
            </a>
        </p> !-->
        <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" onclick="location.href='/'">
            back home
        </button>
    </div>
</body>
</html>